<!DOCTYPE html>
<html lang="en">
<head>
    <title><%= "#{@title} &mdash; " if @title %>Sinatra App</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="icon.png" />
    <link rel="stylesheet" href="reset.css" />
    <link rel="stylesheet" href="style.css" />
</head>
<body>
    <% if flash[:notice] %>
    <p><strong><%= flash[:notice] %></strong></p>
    <% end %>
    <%= yield %>
</body>
</html>
